XML_WS_AgencyApp/Service References/MyRemoteServices/gimmewsdl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sch="http://ftn-booking.com/agentEndpoint" xmlns:tns="http://ftn-booking.com/agentEndpoint" targetNamespace="http://ftn-booking.com/agentEndpoint" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://ftn-booking.com/agentEndpoint" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="manageMonthlyPricesRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="monthlyPrice" type="tns:MonthlyPrices" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="MonthlyPrices">
        <xs:sequence>
          <xs:element name="mainServerId" type="xs:long" />
          <xs:element name="year" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="unbounded" name="monthlyPrices" type="xs:double" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ResponseWrapper">
        <xs:sequence>
          <xs:element name="success" type="xs:boolean" />
          <xs:element name="message" type="xs:string" />
          <xs:element name="responseBody" type="xs:anyType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ResponseWrapperLong">
        <xs:sequence>
          <xs:element name="sucess" type="xs:boolean" />
          <xs:element name="message" type="xs:string" />
          <xs:element name="mainServerId" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="manageMonthlyPricesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="responseWrapper" type="tns:ResponseWrapperLong" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="addBookingUnitRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="bookingUnit" type="tns:BookingUnit" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="hMapStringStringElement">
        <xs:sequence>
          <xs:element minOccurs="0" name="key" type="xs:string" />
          <xs:element minOccurs="0" name="value" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BookingUnit">
        <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="cityMainServerId" type="xs:long" />
          <xs:element name="address" type="xs:string" />
          <xs:element name="description" type="xs:string" />
          <xs:element name="peopleNo" type="xs:int" />
          <xs:element name="agentMainServerId" type="xs:long" />
          <xs:element name="accTypeMainServerId" type="xs:long" />
          <xs:element name="accCategoryMainServerId" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="bonusFeaturesMainServerIds" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="base64ImagesList" type="tns:hMapStringStringElement" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="addBookingUnitResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="responseWrapper" type="tns:ResponseWrapper" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="addLocalReservationRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="localReservation" type="tns:Reservation" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="Reservation">
        <xs:sequence>
          <xs:element name="bookingUnitMainServerId" type="xs:long" />
          <xs:element name="reserveeFirstName" type="xs:string" />
          <xs:element name="reserveeLastName" type="xs:string" />
          <xs:element name="dateFrom" type="xs:string" />
          <xs:element name="dateTo" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="addLocalReservationResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="responseWrapper" type="tns:ResponseWrapper" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="sendMessageRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="message" type="tns:Message" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="Message">
        <xs:sequence>
          <xs:element name="senderAgentMainServerId" type="xs:long" />
          <xs:element name="receiverUserMainServerId" type="xs:long" />
          <xs:element name="content" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="sendMessageResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="responseWrapper" type="tns:ResponseWrapper" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="confirmReservationRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="reservationLite" type="tns:ReservationLite" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:simpleType name="ReservationStatus" final="restriction">
        <xs:restriction base="xs:NMTOKEN">
          <xs:enumeration value="WAITING" />
          <xs:enumeration value="CONFIRMED" />
          <xs:enumeration value="CANCELED" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="ReservationLite">
        <xs:sequence>
          <xs:element name="reservationMainServerId" type="xs:long" />
          <xs:element name="reservationStatus" type="tns:ReservationStatus" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="confirmReservationResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="responseWrapper" type="tns:ResponseWrapper" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="cancelReservationRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="reservationLite" type="tns:ReservationLite" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="cancelReservationResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="responseWrapper" type="tns:ResponseWrapper" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="AccomodationType">
        <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="mainServerId" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AccomodationCategory">
        <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="mainServerId" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BonusFeature">
        <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="mainServerId" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Country">
        <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="mainServerId" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="City">
        <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="postalCode" type="xs:string" />
          <xs:element name="mainServerId" type="xs:long" />
          <xs:element name="country" type="tns:Country" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RegisteredUserInfo">
        <xs:sequence>
          <xs:element name="mainServerId" type="xs:long" />
          <xs:element name="userName" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RegUsrMessage">
        <xs:sequence>
          <xs:element name="mainServerId" type="xs:long" />
          <xs:element name="content" type="xs:string" />
          <xs:element name="regUsrInfo" type="tns:RegisteredUserInfo" />
          <xs:element name="agentUserMainServerId" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="MainServerReservation">
        <xs:sequence>
          <xs:element name="mainServerId" type="xs:long" />
          <xs:element name="from" type="xs:dateTime" />
          <xs:element name="to" type="xs:dateTime" />
          <xs:element name="totalPrice" type="xs:double" />
          <xs:element name="reservationStatus" type="tns:ReservationStatus" />
          <xs:element name="subjectName" type="xs:string" />
          <xs:element name="subjectSurname" type="xs:string" />
          <xs:element name="bookingUnitMainServerId" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SinchronizationObject">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="accTypesList" type="tns:AccomodationType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="accCatsList" type="tns:AccomodationCategory" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="bonusFeaturesList" type="tns:BonusFeature" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="countriesList" type="tns:Country" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="citiesList" type="tns:City" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="regUserMessagesList" type="tns:RegUsrMessage" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="reservationsList" type="tns:MainServerReservation" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="agentLoginRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userName" type="xs:string" />
            <xs:element name="password" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="responseWrapperSync">
        <xs:sequence>
          <xs:element name="success" type="xs:boolean" />
          <xs:element name="message" type="xs:string" />
          <xs:element name="syncObj" type="tns:SinchronizationObject" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="agentLoginResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="responseWrapper" type="tns:responseWrapperSync" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="addBookingUnitRequest">
    <wsdl:part name="addBookingUnitRequest" element="tns:addBookingUnitRequest" />
  </wsdl:message>
  <wsdl:message name="cancelReservationResponse">
    <wsdl:part name="cancelReservationResponse" element="tns:cancelReservationResponse" />
  </wsdl:message>
  <wsdl:message name="addLocalReservationRequest">
    <wsdl:part name="addLocalReservationRequest" element="tns:addLocalReservationRequest" />
  </wsdl:message>
  <wsdl:message name="sendMessageRequest">
    <wsdl:part name="sendMessageRequest" element="tns:sendMessageRequest" />
  </wsdl:message>
  <wsdl:message name="addLocalReservationResponse">
    <wsdl:part name="addLocalReservationResponse" element="tns:addLocalReservationResponse" />
  </wsdl:message>
  <wsdl:message name="confirmReservationResponse">
    <wsdl:part name="confirmReservationResponse" element="tns:confirmReservationResponse" />
  </wsdl:message>
  <wsdl:message name="confirmReservationRequest">
    <wsdl:part name="confirmReservationRequest" element="tns:confirmReservationRequest" />
  </wsdl:message>
  <wsdl:message name="cancelReservationRequest">
    <wsdl:part name="cancelReservationRequest" element="tns:cancelReservationRequest" />
  </wsdl:message>
  <wsdl:message name="agentLoginRequest">
    <wsdl:part name="agentLoginRequest" element="tns:agentLoginRequest" />
  </wsdl:message>
  <wsdl:message name="manageMonthlyPricesRequest">
    <wsdl:part name="manageMonthlyPricesRequest" element="tns:manageMonthlyPricesRequest" />
  </wsdl:message>
  <wsdl:message name="sendMessageResponse">
    <wsdl:part name="sendMessageResponse" element="tns:sendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="agentLoginResponse">
    <wsdl:part name="agentLoginResponse" element="tns:agentLoginResponse" />
  </wsdl:message>
  <wsdl:message name="manageMonthlyPricesResponse">
    <wsdl:part name="manageMonthlyPricesResponse" element="tns:manageMonthlyPricesResponse" />
  </wsdl:message>
  <wsdl:message name="addBookingUnitResponse">
    <wsdl:part name="addBookingUnitResponse" element="tns:addBookingUnitResponse" />
  </wsdl:message>
  <wsdl:portType name="AgentEndpointPort">
    <wsdl:operation name="addBookingUnit">
      <wsdl:input name="addBookingUnitRequest" message="tns:addBookingUnitRequest" />
      <wsdl:output name="addBookingUnitResponse" message="tns:addBookingUnitResponse" />
    </wsdl:operation>
    <wsdl:operation name="cancelReservation">
      <wsdl:input name="cancelReservationRequest" message="tns:cancelReservationRequest" />
      <wsdl:output name="cancelReservationResponse" message="tns:cancelReservationResponse" />
    </wsdl:operation>
    <wsdl:operation name="addLocalReservation">
      <wsdl:input name="addLocalReservationRequest" message="tns:addLocalReservationRequest" />
      <wsdl:output name="addLocalReservationResponse" message="tns:addLocalReservationResponse" />
    </wsdl:operation>
    <wsdl:operation name="sendMessage">
      <wsdl:input name="sendMessageRequest" message="tns:sendMessageRequest" />
      <wsdl:output name="sendMessageResponse" message="tns:sendMessageResponse" />
    </wsdl:operation>
    <wsdl:operation name="confirmReservation">
      <wsdl:input name="confirmReservationRequest" message="tns:confirmReservationRequest" />
      <wsdl:output name="confirmReservationResponse" message="tns:confirmReservationResponse" />
    </wsdl:operation>
    <wsdl:operation name="agentLogin">
      <wsdl:input name="agentLoginRequest" message="tns:agentLoginRequest" />
      <wsdl:output name="agentLoginResponse" message="tns:agentLoginResponse" />
    </wsdl:operation>
    <wsdl:operation name="manageMonthlyPrices">
      <wsdl:input name="manageMonthlyPricesRequest" message="tns:manageMonthlyPricesRequest" />
      <wsdl:output name="manageMonthlyPricesResponse" message="tns:manageMonthlyPricesResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AgentEndpointPortSoap11" type="tns:AgentEndpointPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addBookingUnit">
      <soap:operation soapAction="" />
      <wsdl:input name="addBookingUnitRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addBookingUnitResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelReservation">
      <soap:operation soapAction="" />
      <wsdl:input name="cancelReservationRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="cancelReservationResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addLocalReservation">
      <soap:operation soapAction="" />
      <wsdl:input name="addLocalReservationRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addLocalReservationResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendMessage">
      <soap:operation soapAction="" />
      <wsdl:input name="sendMessageRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="sendMessageResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="confirmReservation">
      <soap:operation soapAction="" />
      <wsdl:input name="confirmReservationRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="confirmReservationResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agentLogin">
      <soap:operation soapAction="" />
      <wsdl:input name="agentLoginRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="agentLoginResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="manageMonthlyPrices">
      <soap:operation soapAction="" />
      <wsdl:input name="manageMonthlyPricesRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="manageMonthlyPricesResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AgentEndpointPortService">
    <wsdl:port name="AgentEndpointPortSoap11" binding="tns:AgentEndpointPortSoap11">
      <soap:address location="http://localhost:8081/agentEndpoint" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>